<!DOCTYPE html>
<html>
<head>
    <title>MichalDudek Splot Project Skeleton</title>

    {{ stylesheet('::lib/bootstrap.css', 'lib') }}
    {{ stylesheet('::lib/font-awesome/font-awesome.css', 'lib') }}
    {{ stylesheet('::global.css', 'app') }}
    {{ stylesheets() }}
</head>
<body>

    {% block body %}
        {% block content %}
        {% endblock %}
    {% endblock %}

    {{ javascript('::lib/jquery2.js', 'lib') }}
    {{ javascript('::lib/jquery.appendix.js', 'lib') }}

    {#{ javascript('::lib/bootstrap/affix.js', 'lib') }#}
    {#{ javascript('::lib/bootstrap/alert.js', 'lib') }#}
    {#{ javascript('::lib/bootstrap/button.js', 'lib') }#}
    {#{ javascript('::lib/bootstrap/carousel.js', 'lib') }#}
    {#{ javascript('::lib/bootstrap/collapse.js', 'lib') }#}
    {#{ javascript('::lib/bootstrap/dropdown.js', 'lib') }#}
    {#{ javascript('::lib/bootstrap/modal.js', 'lib') }#}
    {#{ javascript('::lib/bootstrap/popover.js', 'lib') }#}
    {#{ javascript('::lib/bootstrap/scrollspy.js', 'lib') }#}
    {#{ javascript('::lib/bootstrap/tab.js', 'lib') }#}
    {#{ javascript('::lib/bootstrap/tooltip.js', 'lib') }#}
    {#{ javascript('::lib/bootstrap/transition.js', 'lib') }#}

    {{ javascript('::app.js', 'lib') }}
    {{ javascript('::global.js', 'app') }}

    {{ javascripts() }}
</body>
</html>