<!DOCTYPE html>
<html>
<head>
    <title>MichalDudek Splot Project Skeleton</title>

    {{ stylesheet('::lib/bootstrap.css', 'lib') }}
    {{ stylesheet('::lib/font-awesome.css', 'lib') }}
    {{ stylesheet('::global.css', 'app') }}
    {{ stylesheets() }}
</head>
<body>

    {% block body %}
        {% block content %}
        {% endblock %}
    {% endblock %}


    {# ##########################################
       # JAVASCRIPT
       ########################################## #}
    {# Most common use JS libraries are included below, feel free to remove them or add new #}
    {{ javascript('::components/lodash/lodash.js', 'lib') }}
    {{ javascript('::components/q/q.min.js', 'lib') }}
    {{ javascript('::components/jquery/jquery.min.js', 'lib') }}
    {{ javascript('::components/jquery-appendix/jquery.appendix.min.js', 'lib') }}
    {{ javascript('::components/angular/angular.min.js', 'no-min') }}

    {# Bootstrap 3 #}
    {#{ javascript('::components/bootstrap/js/affix.js', 'lib') }#}
    {#{ javascript('::components/bootstrap/js/alert.js', 'lib') }#}
    {#{ javascript('::components/bootstrap/js/button.js', 'lib') }#}
    {#{ javascript('::components/bootstrap/js/carousel.js', 'lib') }#}
    {#{ javascript('::components/bootstrap/js/collapse.js', 'lib') }#}
    {#{ javascript('::components/bootstrap/js/dropdown.js', 'lib') }#}
    {#{ javascript('::components/bootstrap/js/modal.js', 'lib') }#}
    {#{ javascript('::components/bootstrap/js/popover.js', 'lib') }#}
    {#{ javascript('::components/bootstrap/js/scrollspy.js', 'lib') }#}
    {#{ javascript('::components/bootstrap/js/tab.js', 'lib') }#}
    {#{ javascript('::components/bootstrap/js/tooltip.js', 'lib') }#}
    {#{ javascript('::components/bootstrap/js/transition.js', 'lib') }#}

    {# APPLICATION JS #}
    {{ javascript('::app.js', 'lib') }}
    {{ javascript('::global.js', 'app') }}

    {{ javascripts() }}
</body>
</html>